<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rob Batallé</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Titillium+Web:wght@900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/bb25ca186c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo inside">
                <a href="file:///C:/Users/Adri%C3%A0%20The%20Master/Documents/webs/rob_bat/index.html"><img
                        src="../img/LLEGINT.png"></a>
                <p></p>
            </div>

            <div class="categories" id="categories in">
                <a class="in" href="../index.html">works
                </a>

                <a class="in" href="../templates/about2.html">about
                </a>
            </div>
        </header>


        <div class="module">
            <div class="giant-img" id="point1">
                <img src="../img/bubblebip/portada.jpg" width="100%">
            </div>

            <div class="explanation">
                <h1>BUBBLE BIP</h1>
                <p>
                    Bubble Bip is a Tv animated series produced by Triacom Aduiovisual and Planeta Junior, directed by
                    Gemma Prat and Ferran Canals in the art direction. I worked as a prop modeller and the software we
                    used was Maya.

                    <br>
                    <br>

                    I leave the website link of the series: <a href="http://www.bubblebip.com/es/" target="_blank">
                        www.bubblebip.com/es/</a>
                </p>

                <div class="brands">
                    <img src="../img/bubblebip/prod-tv3.png">
                    <img src="../img/bubblebip/prod-triacom.png">
                    <img src="../img/bubblebip/prod-tve.png">
                    <img src="../img/bubblebip/prod-planeta.png">
                </div>

            </div>

            <div class="video" style="padding:56.25% 0 0 0;position:relative;">
                <iframe src="https://player.vimeo.com/video/84382755?loop=1&portrait=0"
                    style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>

            <div class="explanation">
                <p>These are some of the props I did:</p>
                <br>
            </div>

            <div class="pack">
                <div class="gallery">
                    <div class="img-normal">
                        <img src="../img/bubblebip/bip1.png">
                    </div>

                    <div class="img-normal">
                        <img src="../img/bubblebip/bip4.png">
                    </div>

                    <div class="img-normal">
                        <img src="../img/bubblebip/bip7.png">
                    </div>

                    <div class="img-normal">
                        <img src="../img/bubblebip/bip6_1.png">
                    </div>

                    <div class="img-normal">
                        <img src="../img/bubblebip/bip2.png">
                    </div>

                    <div class="img-normal">
                        <img src="../img/bubblebip/bip3.png">
                    </div>

                    <div class="img-normal">
                        <img src="../img/bubblebip/bip5.png">
                    </div>

                    <div class="img-normal">
                        <img src="../img/bubblebip/bip8_1.png">
                    </div>

                    <div class="img-normal">
                        <img src="../img/bubblebip/downloads_background-2.png">
                    </div>

                    <div class="img-normal">
                        <img src="../img/bubblebip/downloads_background-4.png">
                    </div>
                </div>
            </div>

        </div>


        <footer class="footer" class="row">
            <div class="social">
                <div class="icon-container">
                    <a href="https://www.linkedin.com/in/robert-batalle-lopez-292b79129/" target="_blank"
                        class="linkedin">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <div class="icon-container">
                    <a href="#" target="_blank" class="instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
                <div class="icon-container">
                    <a href="https://vimeo.com/user17859206" target="_blank" class="vimeo">
                        <i class="fab fa-vimeo-v"></i>
                    </a>
                </div>

                <div class="scroll-top">
                    <button class="up"><i class="fas fa-chevron-up"></i></button>
                </div>
            </div>
        </footer>
    </div>


    <script src="../js/up.js"></script>

</body>

</html>