<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rob Batallé</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Titillium+Web:wght@900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/bb25ca186c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo inside">
                <a href="../index.html"><img src="../img/LLEGINT.png"></a>
                <p></p>
            </div>

            <div class="categories" id="categories in">
                <a class="in" href="../index.html">works
                </a>

                <a class="in" href="../templates/about2.html">about
                </a>
            </div>
        </header>

        <div class="module">

            <div class="giant-img" id="point10">
                <img src="../img/devils/portada1.png" width="100%">
            </div>

            <div class="explanation">
                <h1>CARDIFF DEVILS</h1>                
                <p>
                    The project consisted in creating all the motion graphics on the big screens for the stadium of the
                    Cardiff devils (the hockey team of the city of Cardiff ). I also modelated the mascot with the
                    tipical equipment of the cardiff hockey players (stick, gloves…) The company is
                    called Lab Class. The project was done with Cinema4D and After effects.
                </p>
                <br><br>
                <a href="https://www.labclass.co.uk/" target="_blank"><img src="../img/devils/logoGRAY.png"></a>
            </div>

            <div class="video" style="padding:42.6% 0 0 0;position:relative;">
                <iframe src="https://player.vimeo.com/video/170799580?loop=1&portrait=0"
                    style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>

            <div class="video" style="padding:56.25% 0 0 0;position:relative;">
                <iframe
                    src="https://player.vimeo.com/video/147503025?loop=1&portrait=0"
                    style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>

            <div class="pack">

                <div class="explanation">
                    <p>
                        <br><br>
                        Some images, renders and frames of the project:
                        <br><br>
                    </p>
                </div>

                <div class="gallery-center">
                    <div class="img-normal">
                        <img src="../img/devils/portada.png">
                    </div>
                </div>

                <div class="gallery">
                    <div class="img-normal">
                        <img src="../img/devils/d2.png">
                    </div>

                    <div class="img-normal">
                        <img src="../img/devils/d3.png">
                    </div>                   
                </div>
                
                <div class="gallery-center">
                    <div class="img-normal">
                        <img src="../img/devils/d4.png">
                    </div>
                </div>

                <div class="explanation">
                    <p>
                        <br><br><br><b3></b3>
                        Some frames from inside the scene:
                        <br><br>
                    </p>
                </div>


                <div class="gallery-center">
                    <div class="img-normal">
                        <img src="../img/devils/break1.png">
                    </div>

                    <div class="img-normal">
                        <img src="../img/devils/break2.png">
                    </div>                    
                </div>                
            </div>

        </div>

        <footer class="footer" class="row">
            <div class="social">
                <div class="icon-container">
                    <a href="https://www.linkedin.com/in/robert-batalle-lopez-292b79129/" target="_blank"
                        class="linkedin">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <div class="icon-container">
                    <a href="#" target="_blank" class="instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
                <div class="icon-container">
                    <a href="https://vimeo.com/user17859206" target="_blank" class="vimeo">
                        <i class="fab fa-vimeo-v"></i>
                    </a>
                </div>

                <div class="scroll-top">                    
                    <button class="up"><i class="fas fa-chevron-up"></i></button>                                 
                </div>
            </div>
        </footer>
    </div>
    </div>

    <script src="../js/up.js"></script>

</body>

</html>