<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rob Batallé</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Titillium+Web:wght@900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/bb25ca186c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo inside">
                <a href="../index.html"><img src="../img/LLEGINT.png"></a>
                <p></p>
            </div>

            <div class="categories" id="categories in">
                <a class="in" href="../index.html">works
                </a>

                <a class="in" href="../templates/about2.html">about
                </a>
            </div>
        </header>

        <div class="module">
            <div class="explanation" id="point11">
                <br>
                <h1>THE FRENCH DIVER</h1>                
            </div>

            <div class="video" style="padding:56.25% 0 0 0;position:relative;">
                <iframe src="https://player.vimeo.com/video/506057665?loop=1&portrait=0"
                    style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>
           

            <div class="video" style="padding:56.25% 0 0 0;position:relative;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5t5t8jgH5t8"
                    style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>   
            
            <div class="explanation">                
                <p>
                    Made with Blender and After Effects. Rendered with Evee.
                    <br><br><br>
                </p>
            </div>

            <div class="explanation">
                <h2>Story</h2>
                <br>
            </div>


            <div class="text-colums">
                <p>
                    During my holidays in the south of France, on our way to the rocky mountains of Galamus, I was
                    sitting in the back of the car while my friend was driving.
                    I was distracted looking at the rural landscapes that surrounded us. I saw a few cyclists along
                    the
                    way. For some reason, one of them,
                    that was still ahead of us, gave me the impression that was wearing a scuba diving suit.
                    <br><br>

                    As I was the stranger in there, I accepted it with no questions made. We all know that the
                    French
                    like to be
                    a bit eccentric, I said to myself, who am I to judge? It’s just a diver riding a bike in the
                    mountains after all.
                    <br><br>

                    Anyway, as we passed him over I realized that the pipe-looking straw that was
                    coming out from the bottle of water to his mouth, the blue t-shirt, and the black thights he was
                    wearing trick me into believing that he was a scuba-diver.
                    <br><br>

                    Now, I’ve always thought that French people might be a bit special, but I didn’t want to fall
                    into
                    conventionalisms and judge them unfairly, and because of that I was willing to assume that
                    wearing a
                    10kg scuba diving suit while riding a bike in the middle of the mountains was absolutely normal.

                </p>
                <p>
                    Just because I didn’t want to fall into the stereotypical assumption that the French might be
                    extravagant, I was forcing myself into keeping an open mind and try not to be prejudiced.
                    <br><br>

                    But when I saw that the cyclist was a normal person and was just all on me, I realized how
                    prejudiced I was
                    being by trying not to (and that I was the eccentric one, no doubt). If I wouldn’t have had any
                    stereotypical assumption over the French I wouldn’t try to excuse nor justify their
                    eccentricity. Me
                    trying to normalize something that is not normal was definitely proof of me falling into
                    conventionalisms.
                    <br><br>

                    Anyway, the thing is that after all, I liked the idea of a man wearing a diver suit riding a
                    bike in
                    the middle of the mountain like if it was his daily bread, and I decided that it had to be
                    French
                    anyway. Sorry, I guess I can’t get rid of my prejudgments after all.
                </p>
            </div>


            <div class="pack">
                <div class="gallery-center">
                    <div class="img-normal">
                        <img src="../img/frenchdivergif.gif">
                    </div>
                </div>
            </div>

        </div>


        <footer class="footer" class="row">
            <div class="social">
                <div class="icon-container">
                    <a href="https://www.linkedin.com/in/robert-batalle-lopez-292b79129/" target="_blank"
                        class="linkedin">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <div class="icon-container">
                    <a href="#" target="_blank" class="instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
                <div class="icon-container">
                    <a href="https://vimeo.com/user17859206" target="_blank" class="vimeo">
                        <i class="fab fa-vimeo-v"></i>
                    </a>
                </div>

                <div class="scroll-top">                    
                    <button class="up"><i class="fas fa-chevron-up"></i></button>                                 
                </div>
            </div>
        </footer>
    </div>
    </div>

    <script src="../js/up.js"></script>

</body>

</html>